/* 

REMEMBER TO: Update the README and attach it to the release notes section in Stylish! 

Link to stylesheet: https://userstyles.org/styles/152032/dark-mongodb-docs-wip
Link to README:     ./README.md
LICENSE:            

*/

@-moz-document regexp("^https?:\/\/((docs)\.)?((atlas)\.)?mongodb\.com.*") {
  html {
    background-color: #272b2f;
  }

  .main {
    background: #272b2f;
    color: #e0e7e8;
  }

  .navbar {
    background-color: #424950;
  }

  .navbar-dropdown {
    color: rgba(255, 255, 255, 0.6);
  }

  .navbar-dropdown:hover {
    color: #6eb846;
  }

  .navbar-dropdown__menu {
    background-color: #212328;
  }

  .navbar-dropdown__menu--hidden {
    transition-duration: 0.3s;
  }

  .navbar-dropdown__menu--shown {
    transition-duration: 0.7s;
  }

  .menu__item {
    border-top: 1px solid #282b30;
  }

  .navbar-brand {
    content: url(https://webassets.mongodb.com/_com_assets/global/mongodb-logo-white.png);
  }

  .navbar-links__item {
    color: #6fbb46;
  }

  .navbar-lines__item:hover {
    color: #f1f1f1;
  }

  .navbar-search {
    background-color: #373d42 !important;
  }

  .tutorial-search {
    border: 2px solid #535658;
    border-radius: 7px;
    background-color: #373e42;
    color: white;
  }

  .tutorial-list-item {
    border-radius: 7px;
    padding: 15px 25px;
    transition-duration: 0.4s;
  }

  .tutorial-list-item:first-child {
    padding-top: 15px;
  }

  .tutorial-list-item:hover {
    background-color: #131516;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35), 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .tutorial-list-item__title {
    color: #bfc7d1;
    font-weight: 700;
  }

  .tutorial-list-item__snippet {
    color: #afb6c0;
    transition: color 0.4s ease-in-out;
  }

  .tutorial-list-item:hover .tutorial-list-item__title {
    color: #5ea839;
  }

  .main__sidebar {
    border-right: none;
  }

  aside.main__sidebar {
    background-color: #30363a;
  }

  .title {
    border-bottom: 1px solid #424950;
  }

  hr {
    border-top: 1px solid #424950;
  }

  .toc__item {
    border: none;
  }

  .toc__link {
    color: #757f8a;
  }

  .toc__link--nested {
    font-weight: 900;
  }

  .toc__link--active {
    background-color: #2e3238;
  }

  .toc__item:last-child {
    border: none;
  }

  .card {
    border-radius: 7px;
    background-color: #202327;
  }

  .button {
    color: #d5d5d5;
    background-color: #232629;
    border-radius: 5px;
  }

  .button--active {
    color: #fff !important;
  }

  .button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35), 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  }

  /* Text Styling */
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .block__body {
    color: #9aa1a9;
  }

  a:hover {
    color: #77c34e;
    text-decoration: none;
  }

  a.navbar-download__text:hover {
    color: #fff;
  }

  .menu__item a {
    color: #65a93f;
  }

  li.menu__item:hover {
    background-color: #272b2f;
    transition: background-color 0.2s ease-in-out;
  }

  .menu__item:last-child {
    border-bottom: none;
  }
}
