/* Colors */

$main-background-color: #272b2f;
$main-text-color: #e0e7e8;
$main-text-color-invert: #212720;
$section-wrapper-background-color: #393d42;
$dark-border-color: #424950;
$navbar-color: #424950;
$mongodb-light-green: #ccffe1;
$mongodb-green: #13aa52;
$mongodb-darker-green: #0e7e3d;
$admonition-background-color: #363a3f;
$sub-text-result-color: grey;

// Stitch API Colors
$api-get-background-color: #168b46;
$api-post-background-color: #0d5b82;
$api-delete-background-color: #903231;
$api-put-background-color: #057077;
$api-patch-background-color: #efc666;
