/* Colors */

$main-background-color: #272b2f;
$main-text-color: #e0e7e8;
$main-text-color-invert: #212720;
$section-wrapper-background-color: #393d42;
$dark-border-color: #424950;
$card-light-green: #cde5c2;
$navbar-color: #424950;
$mongodb-green: #69b241;
$mongodb-darker-green: #35962b;
$admonition-background-color: #25292d;
$sub-text-result-color: grey;

// Stitch API Colors
$api-get-background-color: #1c6942;
$api-post-background-color: #0d5b82;
$api-delete-background-color: #903231;
$api-put-background-color: #057077;
$api-patch-background-color: #efc666;
